

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 }
body{

  display: grid;
  grid-template:auto/repeat(2,1fr) ;
  margin: 0;
  background-image: url(/imgs/background.jpg);
  padding: 5em;
  background-size: cover;

}

/*--------formulair  */
form{
  background-color:rgba(229, 222, 214, 0.549);
  display: grid;
  grid-template-rows:repeat(6,auto) ;
  gap: 10px;
  padding: 10px; 
 
}
form input[type="number"],[type="text"]{
  width: 100%;
   color:blueviolet;
   line-height: 20px;
   border: none;
   border-bottom: 1px solid bisque;
   background: transparent;
 
}
form input[type="date"]{

width: 100%;
   color:blueviolet;
   line-height: 20px;
   border: none;
   border-bottom: 1px solid bisque;
   background: transparent;
}




.inputbox{
display: grid;
grid-template-rows:repeat(3,auto) ;
gap: 10px;
}
.inputbox select {
 background-color: rgba(137, 43, 226, 0.563);
  
  line-height: 20px;
  border: none;
  border-bottom: 1px solid bisque;
  outline: none;
}


.rad{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  
}
/*--------table */
.tabl{
  background-color: rgba(203, 194, 194, 0.362);
	border: 1px solid #eee;
  color: #222;
	display: grid;
	font-size: 14px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

 
}

table { 
	border-collapse: collapse; 
	margin:2em 2em;
  text-align: center;
  height: 20px;
	}



th,tr,td { 

	color: wheat; 
	font-weight: bold; 
  padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
  width: 10px;
  }

  /*--------modal addtem */
   #modaladd{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(5,1fr) ;
    position: fixed;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.295);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
   display: none;
   }
   #added{
    font-size: x-large;
    margin-bottom: 1em;
    line-height: 2em;
    text-align: justify;
   }
   #hide{
    grid-column-start:2 ;
    grid-column-end:4;
    color: black;
    background-color: bisque;
    border-radius: 11em;
    
   }





  #modal{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.311);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    display: none;
  }
  #content{
    padding: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.766);
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 25% 10%;
    line-height: 3rem;
  }
  #content button{

    line-height: 3rem;
    width: 10rem;
}
#remove{
  background-color: red;
  color: white;

}
#cancel{
  background-color: bisque;
  color: gray;
}


  @media only screen and ( max-width: 600px) {
   body{

    display: grid;
    grid-template: repeat(2,1fr)/auto ;
  }
    
  }
    input[type="button"]{
      background: bisque;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      font-size: 12PX;
      outline: none;
      line-height: 49px;
      margin-left: 122px;
      width: 171px;
}
input[type="button"]:hover{
  background-color: bisque;
  color: #222;
}

.inputbox-success small{
  color: green;
  border-color: green;

}
.inputbox-error small {
  color: red;
  border-color: red;
}

