

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 }
body{

  display: grid;
  grid-template:auto/repeat(2,1fr) ;
  margin: 0;
  background-image: url(/imgs/backg.webp);
  padding: 5em;
  background-size: cover;

}

form label{
  color: beige;
}
form{
  background-color:rgba(229, 222, 214, 0.549);

  display: grid;
  grid-template-rows:repeat(6,auto) ;
  gap: 10px;
  padding: 10px; 
 
}

form button {

  line-height: 2em;
 border: none;
 border-radius: 14em;
 background-color: rgba(0, 128, 47, 0.544) ;
 color: beige;
 text-align: center;
}


form input[type="number"],[type="text"]{
  width: 100%;
   color:grey;
   line-height: 20px;
   border: none;
   border-bottom: 1px solid rgba(0, 128, 47, 0.544);
   background: transparent;
 
}
form input[type="date"]{

width: 100%;
   color: gray;
   line-height: 20px;
   border: none;
   border-bottom: 1px solid rgba(0, 128, 47, 0.544);
   background: transparent;
}




.inputbox{
display: grid;
grid-template-rows:repeat(3,auto) ;
gap: 10px;
}
.inputbox select {
  color:gray;

  line-height: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 128, 47, 0.544);
  outline: none;
}


.rad{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  
}

.tabl{
  background-color: rgba(203, 194, 194, 0.362);
	border: 1px solid #eee;
  color: #222;
	display: grid;
	font-size: 14px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

 
}

table { 
	border-collapse: collapse; 
	margin:2em 2em;
  text-align: center;
  height: 20px;
	}



th,tr,td { 

	color: green; 
	font-weight: bold; 
  padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
  width: 10px;
  }
  #modal{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.311);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    display: none;
  }
  #content{
    padding: 2em;
    text-align: center;
    background-color: white;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 25% 10%;
    line-height: 3rem;
  }
  #content button{

    line-height: 3rem;
    width: 10rem;
}
#remove{
  background-color: red;
  color: white;

}
#cancel{
  background-color: bisque;
  color: gray;
}


  @media only screen and ( max-width: 600px) {
   body{

    display: grid;
    grid-template: repeat(2,1fr)/auto ;
  }
    
  }
    input[type="submit"]{
      background: yellow;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      font-size: 12PX;
      outline: none;
      line-height: 36px;
      margin-left: 112px;
      width: 95px;
}
input[type="submit"]:hover{
  background-color: bisque;
  color: #222;
}

.inputbox-success small{
  color: green;
  border-color: green;

}
.inputbox-error small {
  color: red;
  border-color: red;
}

